/resources/db/data.db
/resources/db/backup.sql
/resources/public/uploads
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
*.swp
/resources/test/
